<a href="https://colab.research.google.com/github/GehuaZhang/AdvML-Fall-18/blob/master/AlgoExecution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [245]:
!sudo apt-get install libsnappy-dev
!pip install python-snappy
!pip install jaqs
!pip install matplotlib
!pip install datetime
!pip install pandas
!pip install numpy

Reading package lists... Done
Building dependency tree
Reading state information... Done
libsnappy-dev is already the newest version (1.1.7-1).
The following package was automatically installed and is no longer required:
  libnvidia-common-430
Use 'sudo apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 25 not upgraded.
Requirement already satisfied: python-snappy in /usr/local/lib/python3.6/dist-packages (0.5.4)
Requirement already satisfied: jaqs in /usr/local/lib/python3.6/dist-packages (0.6.14)
Requirement already satisfied: python-snappy in /usr/local/lib/python3.6/dist-packages (from jaqs) (0.5.4)
Requirement already satisfied: Jinja2 in /usr/local/lib/python3.6/dist-packages (from jaqs) (2.11.1)
Requirement already satisfied: msgpack-python in /usr/local/lib/python3.6/dist-packages (from jaqs) (0.5.6)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from jaqs) (1.12.0)
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from jaqs) (0.16.0)
Requirement already satisfied: pyzmq in /usr/local/lib/python3.6/dist-packages (from jaqs) (17.0.0)
Requirement already satisfied: seaborn in /usr/local/lib/python3.6/dist-packages (from jaqs) (0.10.0)
Requirement already satisfied: pandas>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from jaqs) (0.25.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from Jinja2->jaqs) (1.1.1)
Requirement already satisfied: scipy>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from seaborn->jaqs) (1.4.1)
Requirement already satisfied: matplotlib>=2.1.2 in /usr/local/lib/python3.6/dist-packages (from seaborn->jaqs) (3.1.3)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from seaborn->jaqs) (1.17.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.20.0->jaqs) (2.6.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.20.0->jaqs) (2018.9)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.1.2->seaborn->jaqs) (2.4.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.1.2->seaborn->jaqs) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.1.2->seaborn->jaqs) (0.10.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib>=2.1.2->seaborn->jaqs) (45.1.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (3.1.3)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (2.4.6)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (2.6.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (1.1.0)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (1.17.5)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (0.10.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.1->matplotlib) (1.12.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib) (45.1.0)
Requirement already satisfied: datetime in /usr/local/lib/python3.6/dist-packages (4.3)
Requirement already satisfied: pytz in /usr/local/lib/python3.6/dist-packages (from datetime) (2018.9)
Requirement already satisfied: zope.interface in /usr/local/lib/python3.6/dist-packages (from datetime) (4.7.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from zope.interface->datetime) (45.1.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (0.25.3)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.17.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.6.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (1.17.5)

In [0]:
from jaqs.data.dataapi import DataApi
import matplotlib.pyplot as plt
import datetime
import pandas as pd
import numpy as np

In [0]:
api = DataApi(addr='tcp://data.quantos.org:8910')
api.login('3478219880','eyJhbGciOiJIUzI1NiJ9.eyJjcmVhdGVfdGltZSI6IjE1ODE2OTMxOTYzOTAiLCJpc3MiOiJhdXRoMCIsImlkIjoiMzQ3ODIxOTg4MCJ9.BZ3Ou2TuXWPaRqTbvyR4Kkjm2h89L0HP4IGnZTP53Jk')
begin_date=datetime.date(2019,12,1)
end_date=datetime.date(2020,2,14)
freq="1M"
symbol="600030.SH"
fields="close,vwaps,time,volume"

In [0]:
def getEveryDay(begin_date,end_date):
    date_list = []
    while begin_date <= end_date:
        date_str = begin_date.strftime("%Y%m%d")
        date_list.append(date_str)
        begin_date += datetime.timedelta(days=1)
    return date_list

In [0]:
def getData(symbol,begin_date,end_date,freq,fields):
  date_range=getEveryDay(begin_date,end_date)
  tmp_list=[]
  count=0
  for date in date_range:
    df,msg = api.bar(symbol=symbol,trade_date=date,freq=freq,fields=fields)
    if df.shape[0]<240:
      continue
    elif (df["volume"].sum()==0.0) |(df["close"].sum()==0.0):
      continue
    count=count+1
    tmp_list.append(df)
  print("Get %s Trading Days"%(count))
  data=pd.concat(tmp_list).reset_index(drop=True)
  return data

In [219]:
data=getData(symbol,begin_date,end_date,freq,fields)

48

In [220]:
pd.set_option('display.max_rows', 50)
data.head(10)

  freq  trade_date     symbol   time  close     volume
0   1M    20191202  600030.SH  93100  21.84  8755900.0
1   1M    20191202  600030.SH  93200  21.84  2339393.0
2   1M    20191202  600030.SH  93300  21.88  2116110.0
3   1M    20191202  600030.SH  93400  21.79  2863097.0
4   1M    20191202  600030.SH  93500  21.79  1792800.0
5   1M    20191202  600030.SH  93600  21.81  1592856.0
6   1M    20191202  600030.SH  93700  21.73  1699944.0
7   1M    20191202  600030.SH  93800  21.73   813851.0
8   1M    20191202  600030.SH  93900  21.74  1101065.0
9   1M    20191202  600030.SH  94000  21.76   609856.0

## 1. Simplest VWAP (VWAP ONE)

In [0]:
N=30
current_date = datetime.date(2019,11,30)
current_time = datetime.time(10,30,00)

def volumePredictOne(symbol,current_date,current_time,N,freq,fields):
  traceback_date = current_date-datetime.timedelta(N+1)
  data_traceback=getData(symbol,traceback_date,current_date-datetime.timedelta(1),freq,fields)
  current_time = datetime.time(10,30,00)
  current_time=np.int64(current_time.strftime("%H%M%S"))
  data_grouped=data_traceback.groupby("trade_date")
  tmp_ratio=[]
  for name, info in data_grouped:
    spot_volume=info[info["time"]==current_time]["volume"].values
    cumulative_volume=info["volume"].sum()
    tmp_ratio.append(spot_volume/cumulative_volume)
  return np.mean(tmp_ratio)

In [268]:
volumePredictOne(symbol,current_date,current_time,N,freq,fields)

Get 22 Trading Days

0.004164683885047307